<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/carousal.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <header>
  <div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Pulp Fiction</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="#">Home</a></li>
    	<li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/bigdata">Big Data</a></li>
          <li><a href="/iot">IoT/IoE</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/management.html">Management</a></li>
          <li><a href="/codeofconduct.html">Code of Conduct</a></li>
          <li><a href="/businessprocess.html">Business Process</a></li>
          <li><a href="/locations.html">Locations</a></li>
          <li><a href="/contacts.html">Contacts</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</header>
  
  <h1> Internet of Things</h1>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer> Copyrights. Pulp Fiction Inc, 2014.</footer>
  </body>
</html>
