<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/carousal.css' />
     <link rel='stylesheet' href='/stylesheets/pages.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <header>
  <div class="navbar navbar-inverse">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Pulp Fiction</a>
  </div>

  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/bigdata">Big Data</a></li>
          <li><a href="/iot">IoT/IoE</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/management">Management</a></li>
          <li><a href="/codeofconduct">Code of Conduct</a></li>
          <li><a href="/businessprocess">Business Process</a></li>
          <li><a href="/location">Locations</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</div>
</header>
  
  </br>
  <div class="container content1">
    <div class="row">
      <div class="col-lg-2">
      <br/>
      <br/>
      <br/>
      <div class="list-group">
            <a href="#" class="list-group-item">Brochure</a>
            <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal">White Paper</a>
      </div>
      </div>
      <div class="col-lg-7">
        <h2> Internet of Things</h2>
        <p> The Internet of Things (IoT) is the interconnection of uniquely identifiable embedded computing devices within the existing Internet infrastructure. Typically, IoT is expected to offer advanced connectivity of devices, systems, and services that goes beyond machine-to-machine communications (M2M) and covers a variety of protocols, domains, and applications. The interconnection of these embedded devices (including smart objects), is expected to usher in automation in nearly all fields, while also enabling advanced applications like a Smart Grid. </p>
        <p>
        Things, in the IoT, can refer to a wide variety of devices such as heart monitoring implants, biochip transponders on farm animals, automobiles with built-in sensors, or field operation devices that assist fire-fighters in search and rescue.[3] Current market examples include smart thermostat systems and washer/dryers that utilize wifi for remote monitoring.
        </p>
      </div>
      <div class="col-lg-3">
        <div class="sidebar-block">
          <div class="sidebar-testimonials">
          <blockquote>I have been a long time blog follower and Pulp Fiction always brings out the best of all.</br> <span style="float:right">-Bill Gates</span></blockquote>
          </div>
          </div>
          <div class="sidebar-block">
          <div class="sidebar-testimonials">
           <blockquote>I have never seen such a thoughtful company before. I think they will be the leaders in IoT space soon. Probably sooner than you can think.</br> <span style="float:right">-Steve Jobs</span></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div> 
  

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Download White Paper</h4>
        </div>
        <div class="modal-body">
            <form role="form">
              <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="name" class="form-control" id="fname" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" id="lname" placeholder="">
          </div>    
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="email" placeholder="">
          </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="docs/iotpaper.pdf" download="IoT-White-Paper.pdf" id="downlaod" class="btn btn-primary">Download</a>
        </div>
      </div>
    </div>
  </div>
   
    <footer>
      <div class="footer">
       <div class="container">
          <p style="text-align:center;"> Copyrights. Pulp Fiction Inc, 2014.</p>
       </div>
      </div>
    </footer>
  </body>
</html>
