<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLerFx5zE0vxqp59lA6TfUum0MdLiksJk">
    </script>
    <style>
body { background:#fff;}
#map-canvas
{
position:absolute;
width:800px;
height:600px;
z-index:15;
top:85%;
left:50%;
margin:-400px 0 0 -400px;
}
</style>
  </head>
  <body>
  <header>
  <div class="navbar navbar-inverse">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Pulp Fiction</a>
  </div>

  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/bigdata">Big Data</a></li>
          <li><a href="/iot">IoT/IoE</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/management">Management</a></li>
          <li><a href="/codeofconduct">Code of Conduct</a></li>
          <li><a href="/businessprocess">Business Process</a></li>
          <li><a href="/location">Locations</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</div>
</header>
    <h1><%= title %></h1>
     <div id="map-canvas"></div>
    <footer> Copyrights. Pulp Fiction Inc, 2014.</footer>
<script>
(function() {
window.onload = function() {
// Creating an object literal containing the properties
// we want to pass to the map
var options = {
zoom: 16,
center: new google.maps.LatLng(37.3356, -121.8811),
mapTypeId: google.maps.MapTypeId.ROADMAP
};
// Creating the map
var map = new google.maps.Map(document.getElementById('map-canvas'), options);
var mkr = new google.maps.Marker({
position: map.getCenter(),
map: map,
title: 'Click to zoom'
});
google.maps.event.addListener(map, 'center_changed', function() {
// 3 seconds after the center of the map has changed, pan back to the
// marker.
window.setTimeout(function() {
map.panTo(mkr.getPosition());
}, 3000);
});
var places = [];
places.push(new google.maps.LatLng(37.337186,-121.881493));
places.push(new google.maps.LatLng(37.335462,-121.884969));
places.push(new google.maps.LatLng(37.334268,-121.883982));
// Looping through the places array
var events = [];
events.push("Engineering Department Coding Battle");
events.push("MLK Book Exhibition");
events.push("Science of Spartans Quiz");
var people= [];
people.push(new google.maps.LatLng(37.336186,-121.883493));
people.push(new google.maps.LatLng(37.332462,-121.885969));
people.push(new google.maps.LatLng(37.336268,-121.887982));
for (var i = 0; i < places.length; i++) {
// Adding the marker as usual
var marker = new google.maps.Marker({
position: places[i],
map: map,
animation: google.maps.Animation.BOUNCE,
title: 'Location ' + i
});
// Wrapping the event listener inside an anonymous function
// that we immediately invoke and passes the variable i to.
(function(i, marker) {
// Creating the event listener. It now has access to the values of
// i and marker as they were during its creation
google.maps.event.addListener(marker, 'click', function() {
var infowindow = new google.maps.InfoWindow({
content: 'Event: ' + events[i]
});
infowindow.open(map, marker);
});
})(i, marker);
}
for (var i = 0; i < people.length; i++) {
// Adding the marker as usual
var ppl = new google.maps.Marker({
position: people[i],
map: map,
title: 'Person ' + i,
//icon: 'person.gif',
animation: google.maps.Animation.DROP
});
}
}
})();
</script>
  </body>
</html>
