<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/pages.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLerFx5zE0vxqp59lA6TfUum0MdLiksJk">
    </script>
    <style>
body { background:#fff;}
#map-canvas, #map2-canvas
{
width:400px;
height:400px;

}
</style>
  </head>
  <body>
  <header>
  <div class="navbar navbar-inverse">
  <div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Pulp Fiction</a>
  </div>

  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/bigdata">Big Data</a></li>
          <li><a href="/iot">IoT/IoE</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/management">Management</a></li>
          <li><a href="/codeofconduct">Code of Conduct</a></li>
          <li><a href="/businessprocess">Business Process</a></li>
          <li><a href="/location">Locations</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</div>
</header>
<div class="container">
  <h2 style="text-align:center;"> Locations </h2><br/>

 <div style="display:block; box-shadow: 0 0 15px ;height:50px;width:400px; z-index:15px; float:left; text-align:center;" >
   <strong> Center for Global Software Development  </strong>
  </div>
 <div style="display:block;  box-shadow: 0 0 15px; height:50px;width:400px; z-index:15px;float: right; text-align:center;">
  <strong> Center for CTO Office </strong>
  </div>
 <br/><br/>
<div id="map-canvas" style="float:left; border: 1px solid #000000"></div>
<div id="map2-canvas" style="float:right; border: 1px solid #000000"></div>
<br/> <br/>
<div style="display:block; border: 1px solid #000000 ;height:50px;width:400px; z-index:15px; float:left; text-align:center;" >
  <br/> One Washington Square, San Jose, CA 95112 </div>
<div style="display:block; border: 1px solid #000000 ;height:50px;width:400px; z-index:15px; float:right; text-align:center; " >
   <br/> 1 Infinite Loop, Cupertino, CA 95014, USA</div>
</div>
<br/>
  <footer>
      <div class="footer">
       <div class="container">
          <p style="text-align:center;"> Copyrights. Pulp Fiction Inc, 2014.</p>
       </div>
      </div>
    </footer>
<script>
(function() {
window.onload = function() {
// Creating an object literal containing the properties
// we want to pass to the map
var options = {
zoom: 16,
center: new google.maps.LatLng(37.3356, -121.8811),
mapTypeId: google.maps.MapTypeId.ROADMAP
};
// Creating the map
var map = new google.maps.Map(document.getElementById('map-canvas'), options);
var mkr = new google.maps.Marker({
position: map.getCenter(),
map: map,
title: 'Click to zoom'
});
google.maps.event.addListener(map, 'center_changed', function() {
// 3 seconds after the center of the map has changed, pan back to the
// marker.
window.setTimeout(function() {
map.panTo(mkr.getPosition());
}, 3000);
});


// Map 2
var options2 = {
zoom: 16,
center: new google.maps.LatLng(37.331686, -122.030733),
mapTypeId: google.maps.MapTypeId.ROADMAP
};
// Creating the map
var map2 = new google.maps.Map(document.getElementById('map2-canvas'), options2);
var mkr2 = new google.maps.Marker({
position: map2.getCenter(),
map: map2,
title: 'Click to zoom'
});
google.maps.event.addListener(map2, 'center_changed', function() {
// 3 seconds after the center of the map has changed, pan back to the
// marker.
window.setTimeout(function() {
map2.panTo(mkr2.getPosition());
}, 3000);
});



}
})();
</script>
  </body>
</html>
